.dialogRoot {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    outline: none;
}

.dialogContent {
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.scrollToBtn {
    color: #aaa;
    font-size: 24px;
}

.scrollToBtn:hover {
    color: #888;
}

.scrollToBtn:active {
    color: #666;
}
