.mainSite {
    font-size: 30px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.mainSite:hover {
    color: #FFAB91;
}

.postTitle {
    font-size: 18px;
    color: #1976D2;
    font-weight: bold;
    cursor: pointer;
}

.postTitle:hover {
    color: #44aaff;
}

.categoryItem {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-start;
    padding: 8px 40px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.categoryItem:hover {
    background-color: rgba(178, 233, 219, 0.2);
}

.categoryItem:active {
    background-color: rgba(178, 233, 219, 0.3);
}

.pageIndex {
    padding: 4px 8px;
    font-size: 13px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    border: solid 1px #009688;
    border-radius: 5px;
    background-color: #B2DFDB;
    color: #333;
    user-select: none;
}

.pageIndexSelected {
    composes: pageIndex;
    background-color: #B3E5FC;
    user-select: none;
}

.pageIndex:hover {
    color: white;
    background-color: #80CBC4;
}

.pageIndex:active {
    background-color: #4DB6AC;
}

.titleHeader {
    display: flex;
    flex-direction: column;
    background-color: #E0F2F1;
    padding: 20px 30px;
    border-bottom: dotted 1px #80CBC4;
}

.postPreview {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-bottom: dashed 1px #F8BBD0;
}

.postPreview:hover {
    background-color: #f9f9f9;
}

.praiseBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    font-size: 18px;
    color: #EC407A;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.praiseBtn:hover {
    color: #D81B60;
}

.praiseBtn:active {
    color: #AD1457;
}

.postTag {
    font-size: 15px;
    background-color: #B3E5FC;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: solid 1px #4FC3F7;
    cursor: pointer;
    margin-right: 10px;
    user-select: none;
    -webkit-user-select: none;
}

.postTag:hover {
    background-color: #81D4FA;
}

.postTag:active {
    background-color: #4FC3F7;
}